@model ComicBookShared.Models.Artist

<div class="row">

    <div class="col-md-6">

        <div class="form-group">
            @Html.LabelFor(m => m.Name, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        </div>

    </div>

    <div class="col-md-6">

    </div>

</div>
