
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.margin-right {
    margin-right: 5px !important;
}

.pad-top {
    padding-top: 20px;
}

.pad-bottom {
    padding-bottom: 20px;
}

.validation-summary-valid {
    display: none;
}
