@model ComicBookShared.Models.Series

@{
    ViewBag.Title = "Delete Series";
}

<h2>@ViewBag.Title</h2>

<div class="alert alert-warning">
    Are you sure you want to delete the series @Model.Title?
</div>

@using (Html.BeginForm())
{
    <div class="pad-top">
        <button type="submit" class="btn btn-danger btn-lg margin-right">
            <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
        <a href="@Url.Action("Detail", new { id = Model.Id })" class="btn btn-warning btn-lg">
            <span class="glyphicon glyphicon-remove"></span> Cancel
        </a>
    </div>
}
